body{
    align-items: center;
    text-align: center;
}

.intro{
    font-size: 100px;
    background-color: aquamarine;
    border-radius: 10%;
}

.img{
    width: 50%;
    height: 50%;
}

.imagem{
    width: 50%;
    height: 50%;
}